.app-container {
  display: flex;
  min-height: 100vh; /* allow page to grow */
  overflow: visible; /* allow body scroll */
}

.app-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 0; /* don't fill full height if content is short */
  height: auto;
  overflow-y: auto;
}
